# Git
.git
.gitignore

# Environment files
.env
.env.*
!.env.example

# Maven build-output
target/

# IDE files
.idea/
*.iml
.vscode/

# OS files
.DS_Store
Thumbs.db

# Log files
*.log

# Docker files
docker-compose.yml
.dockerignore